/*footer text*/
/* (May 8th, 2022) footer needs work*/
.footer-text{
    color: white; 
    margin-left: 43%;
}


/*bracelets page styling*/
.card-move{
    margin-top: 23%;
}
/*end of bracelets styling*/