/*footer text*/
/* (May 8th, 2022) footer needs work*/
.footer-text{
    color: white; 
    margin-left: 43%;
}


/*bracelets page styling*/

.brace-container{
    display: flex; 
    justify-content: center;
    margin-top: 5%;
}


.brace-pic{
    width: 500px;
    height: 500px; 
}
/* bracelets styling*/