body{
  margin: 0; 
  background-image: url(cloudpic.jpg);
  background-repeat: no-repeat;
  background-position-y: 15%;
  background-position-x: 20%;
  background-attachment: fixed;
  background-size: cover;
  max-width: fit-content;
  min-zoom: 15%;
}


a{
  text-decoration: none; 
  color: white; 
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 1.5vw; 
  padding: 2px; 
  justify-content: center;
}


