.index-body{
    background-image: url("rosas.jpg");
    background-repeat: none; 
    background-position-x: 45%;
    background-position-y: 10%;
    background-size: 1300px;
}

/*navbar styling*/
.nav-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7vw;
}

.nav-box{
    display:flex;
    flex-direction: row;
}

/*page title styling*/
.title-text {
    color: white; 
    text-align: center;
    margin-top: 13.2%;
    font-size: 2.3vw; 
    font-family: 'Times New Roman', Times, serif;
}

/*fade-in effect for home page*/
.fade-in {
   animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

}
/*end of fade-in effect*/


/*fade-in for navbar*/
.fade-inn {
    animation: fadeIn ease 12s;
   -webkit-animation: fadeIn ease 12s;
   -moz-animation: fadeIn ease 12s;
   -o-animation: fadeIn ease 12s;
   -ms-animation: fadeIn ease 12s;
 }
 
 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
 }
 
 }
/*end of fadein navbar*/


/*style for service and spellwork pages*/

.service-body, .spellwork-body {
    background-color: black ; 
    background-image: url(muchasrosas.jpg);
    background-size: 2100px;
}


.service-title, .spellwork-title {
    color: white; 
    text-align: center;
    margin-top: 0; 
    font-size: 1.7vw; 
    font-family: 'Times New Roman', Times, serif;
}



.service-back, .spellwork-back {
    color: white; 
    font-size: 1.5vw; 
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.service-footer{
  color: white; 
  font-size: 1vw; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
}

.service-bottom, .spellwork-bottom{
    display: flex;  
    justify-content: center;
    margin-top: 100%;
}

