/*navbar styling*/
a {
    font-family: 'Bebas Neue'; 
}

.nav-text {
    font-size: 1.3vw; 
    color: white; 
}
/*end of navbar styling*/


/*body styling*/

/*end of body styling*/

/*robin page styling*/
.robin-header {
    font-size: 4vw;
    font-family: 'Bebas Neue';
    text-align: center; 
}

