/*INDEX PAGE STYLING*/
body{
    margin: 0; 
    font-family: 'Bebas Neue'; 
    font-size: 25px; 
    background-image:url(pics/titans.jpg);
    background-position: center;
    background-position-y: 15%;
    background-repeat: no-repeat;
    background-color: black;
    
}

.navbar{
    display: inline-block;
    width: 100%; 
}

a{
    text-align: center;
    color: white; 
    text-decoration: none; 
    padding: 7px 10px; 
}

*{
    box-sizing: border-box;
}

