/*INDEX STYLING*/

body{
    background-color: skyblue;
    background-image:url(pics/Wallpaper-Steven-Universe.jpg);
    background-repeat: none;
    background-position-x: 45%;
    background-position-y: 10%;
    background-size: 1300px;
}

.index-header{
    font-size: 3vw;
    margin-top: 0; 
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

.index-text{
    font-size: 1.2vw; 
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 7%;
    
}
