/*INDEX PAGE STYLING*/
body{
    margin: 0; 
    background-color: black;
    
}
nav{
    width: 100%; 
    padding: 10px 0;  
}

nav a{
    color: white;
    text-decoration: none; 
    font-size: 1.5vw; 
    font-weight: bold;
    font-family: 'Source code Pro', monospace;
    padding: 10px 7px; 
}

.nav-fade{
    font-family: 'Source code Pro', monospace;
    font-size: 1.5vw; 
    animation: fadeIn 5s; 
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.container{
    position: absolute;
    top: 50%;
    left: 35%; 
    
}

.header-text{
    color: white; 
    font-family: 'Source code Pro', monospace;
}
.p-text{
    color: white; 
    font-family: 'Source Code Pro', monospace; 
}
/*END OF INDEX PAGE STYLING*/

/*PROJECTS PAGE STYLING*/

